{
  "extends":  [
    "airbnb",
    "prettier"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "comma-dangle": 0,
    "react/jsx-filename-extension": [
      1, 
      { "extensions": [
          ".js"
          ] 
        }
      ]
  }
}
